

{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="section">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
               {% for share in history %}
                    <tr>
                        <td class="text-start">{{ share.trxType }}</td>
                        <td class="text-end">{{ share.symbol }}</td>
                        <td class="text-end">{{ share.name }}</td>
                        <td class="text-end">{{ share.cuantity }}</td>
                        <td class="text-end">{{ share.price }}</td>
                        <td class="text-end">{{ share.datetime }}</td>
                    </tr>
                {% endfor %}
        <!-- TODO: Loop through the database entries to display them in this table -->
            </tbody>
        </table>
    </div>
{% endblock %}
